{% extends 'ZKEmployeeBundle::layout.html.twig' %}

{% block title parent() ~ " - Daftar Pegawai" %}

{% block body %}

<h2>Daftar Pegawai</h2>

<table>
    <thead>
        <tr>
            <th>NIP</th>
            <th>Nama</th>
            <th>Umur</th>
            <th>Sex / Status</th>
            <th>No. Telepon</th>
        </tr>
    </thead>
    <tbody>
{% for peg in pegawais %}
        <tr>
            <td><a href="{{ path("zk_employee_employee_update", {"id": peg.id}) }}">{{ peg.piNo }}</a></td>
            <td>{{ peg.piNamaLengkap }}</td>
            <td></td>
            <td>{{ peg.piJenisKelamin }} / {{ peg.piStatusNikah }}</td>
            <td>{{ peg.piNoTelepon1 }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}